body {
    background: #eee;
    font-family: sans-serif;
}

.card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
}

.title {
    background: #e3f4ff;
    padding: 10px;
    margin-bottom: 10px;
}

.content {
    background: #e3f4ff;
    padding: 10px;
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
    padding: 15px;
    background: #e3f4ff;
}

button {
    background: white;
    display: block;
    margin: 0px auto;
    padding: 10px 20px;
    border: 1px solid #eee;
}
