body {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.para {
    font-weight: 800;
    font-size: 24px;
}

.small-para {
    font-size: 14px;
}

.button {
    font-size: 20px;
    background-color: white;
}

.confirm {
    background-color: green;
    color: white;
    font-weight: bold;
}

.text {
    font-weight: 100;
    font-size: 22px;
}

.child {
    font-weight: 800;
    font-size: 14px;
}
